/* CSS Reset starts here */
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}
/* CSS Reset ends here */

/* My CSS starts here */
body { 
  background-color: #121212; 
  color: #dddddd; 
}
h1 {
  font-size: 100px;
}
main { 
  line-height: 1.75; 
}
strong { 
  font-weight: 700; 
}
ul {
  list-style-type:decimal; 
}
li { 
  padding: 5px 0; 
}
a { 
  color: #9089fa; 
  text-decoration: none; 
}
a:hover { 
  text-decoration: none; 
  color: rgb(238, 235, 84); 
}
h1 { 
  font-size: 100px; 
  padding: 0 0 30px 0;
}
h2 {
  font-size: 50px;
}
::selection { 
  color: #121212; 
  background-color: rgb(238, 235, 84);
}
a::selection { 
  color: #3a2cff; 
  background-color: rgb(216, 216, 216);
}
#main-content {
  font-size: 25px;
}
.caption {
  font-size: 20px;
}

@media (max-width: 991px) {
  h1 {
    font-size: 65px;
    padding-bottom: 20px;
  }
  h2 {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 27px;
  }
  #main-content {
    font-size: 20px;
  }
  .caption {
    font-size: 15px;
  }

}
@media (max-width: 575px) {
  h1 {
    font-size: 45px;
  }
  #main-content {
    font-size: 20px;
  }
  ul {
    list-style-type: disc;
  }
}
@media (max-width: 504px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }
  #main-content {
    font-size: 19px;
  }
}
@media (max-width: 432px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
  }
  #main-content {
    font-size: 18px;
  }
}
/* My CSS ends here */
